body{
    margin: 0;  
}

.body-cadastro {
    background: linear-gradient(rgba(127, 193, 241, 0.9979), rgba(0, 38, 171, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    margin: 0; 
}

/* Estilização para o contêiner do formulário de inscrição */
.signup-container-cadastro{
    width: 100%;                  
    max-width: fit-content;                 
    background-color: #fff;     
    padding: .5rem 3rem;                
    border-radius: 8px;          
    box-shadow: 0px 0px 10px rgb(0, 23, 107);
    height: 30.375rem;
    margin-top: 3.5rem;
}
.signup-title-cadastro{
    font-size: 1.5rem;
    margin-bottom: .25rem !important;
}

.form-cadastro p{
    color: rgb(52,152,219);
    margin: 0rem;
    font-size: .87rem;
}

.signup-input-cadastro{
    font-size: .75rem;
}

/* Estilização do formulário dentro do contêiner de inscrição */
.signup-container-cadastro form {
    display: flex;               
    flex-direction: column;      
}

.signup-container-cadastro input {
    margin-bottom: .3rem;        
    border: 3px solid rgb(52,152,219);      
    border-radius: 8px;          
    height: 33px;
    width: 265px;         
}

.signup-container-cadastro button {
  margin-bottom: 1rem;
  padding: .8rem;              
  background-color: rgb(52,152,219); 
  color: #fff;                
  border: none;               
  border-radius: 8px;         
  cursor: pointer;             
  transition: background-color 0.2s ease-in; 
  width: 10rem;
  align-self: center; 
  margin-top: .5rem;
}

/* Estilização do título */
.signup-container-cadastro h1 {
    text-align: center;
    color: rgb(52,152,219);
    margin-top: .7rem ;    
    font-family: 'Roboto', sans-serif;
}

.button-login-cadastro {
    background-color: rgb(52, 152, 219);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    width: auto; 
    margin-right: 30px;
    box-sizing: border-box;
    margin-top: .5rem;
}
  
/* Estilização do cabeçalho */
.signup-cabecalho-cadastro {
    display: flex;
    justify-content:flex-end;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100%;
    height: 3.2rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(0, 23, 107);
}
.signup-cabecalho-container-cadastro {
    background-color: #fff; 
    border-radius: 8px;
    padding: .5rem ;
}

.signup-cabecalho .signup-cabecalho-container .button-cadastro {
    width: 100%;
}
