body{
  margin: 0;  
}
.body-login {
  background: linear-gradient(rgba(127, 193, 241, 0.9979), rgba(0, 38, 171, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  margin: 0;    
}

/* Estilização para o contêiner do formulário de inscrição */
.signup-container-login {
  background-color: #fff;     
  padding: .1rem 3rem;               
  border-radius: 10px;          
  box-shadow: 0px 0px 10px rgb(0, 23, 107);
  height: 27rem;
  width: 24.375;
  position: relative;
}
.signup-title-login{
  font-size: 1.5rem;
  margin-bottom: .25rem !important;
}

.signup-input-login{
  font-size: .75rem;
  height: .8rem;
  width: 20.5rem;
  margin-bottom: 1.5rem ;
}


/* Estilização do formulário dentro do contêiner de inscrição */
.signup-container-login form {
  display: flex;               
  flex-direction: column;  
  margin-top: 3rem;
  margin-bottom: 6.5rem;
  width: 16.5625rem;

}

.signup-container-login input {
  margin-bottom: 1rem;        
  border: 3px solid rgb(52,152,219);      
  border-radius: 8px;          
  height: 37px;
  width: 265px;
}

.button-login {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: .8rem;              
  background-color: rgb(52,152,219); 
  color: #fff;                
  border: none;               
  border-radius: 8px;         
  cursor: pointer;             
  transition: background-color 0.2s ease-in; 
  width: 10rem;
  align-self: center; 
}

.button-cadastro {
  background-color: rgb(52, 152, 219);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  box-sizing: border-box; 
}
.button-administrador {
  background-color: rgb(52, 152, 219);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  width: 100%; 
  box-sizing: border-box; 
  margin-top: .1rem;
}

.signup-cabecalho {
  display: flex;
  justify-content:flex-end;
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0, 23, 107);
}
.signup-cabecalho-container {
  background-color: #fff; 
  border-radius: 8px;
  padding: .5rem ;
}

/* Estilização "Bem-vindo ao crachá virtual" */
.signup-subtitle-login {
  text-align: center;
  color: #fff;
  margin: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 2rem;
}
.form-login p{
  color: rgb(52,152,219);
  margin: 0.1rem;
  font-size: .9375rem;
}

.signup-container-login h1 {
  text-align: center;
  color: rgb(52,152,219);
  margin-bottom: 1px;    
  font-family: 'Roboto', sans-serif; 
}

.signup-container-login a {
  color:  rgb(52, 152, 219); 
  text-decoration: underline; 
  cursor: pointer;
  margin-top: 0.5rem; 
  text-align: center; 
  font-size: 13px;
}

.signup-cabecalho .signup-cabecalho-container .button-cadastro {
  width: 100%;
}

.button-login:hover,
.button-cadastro:hover {
  background: linear-gradient(rgba(127, 193, 241, 0.9979), rgb(52, 152, 219));
}
